:root { 
--black_900:#000000; 
--gray_500_3f:#9a94943f; 
--indigo_A200:#4776e6; 
--purple_700:#7a3199; 
--purple_100_66:#e1a5ff66; 
--deep_purple_A200:#8e54e9; 
--gray_200:#eeeeee; 
--amber_A200:#fcd53f; 
--white_A700:#ffffff; 
}